<p>
  {{ getTitle() }}
</p>

<!--
<div class="intern-card" *ngFor="let intern of interns">
  <p>
    <span>
      {{ intern.name }}
    </span>
    {{ intern.firstname }}
</p>
</div>
-->
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Lastname</th>
      <th>Firstname</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let intern of interns">
      <td>{{intern.id}}</td>
      <td>{{intern.name | uppercase }}</td>
      <td>{{intern.firstname}}</td>
      <td>{{intern.email}}</td>
      <td>{{intern.phoneNumber}}</td>
    </tr>
  </tbody>
</table>
